/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fondo de la página */
}

.slider-container {
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño máximo del slider */
    margin: 50px auto; /* Centra el slider horizontalmente */
    overflow: hidden; /* Esconde las imágenes que se desplazan fuera del contenedor */
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease; /* Animación para el cambio de imagen */
}

.slide {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 0; /* Inicialmente las imágenes no son visibles */
}

.slide img {
    width: 100%;
    height: auto;
}

.fade {
    opacity: 0; /* Por defecto las imágenes estarán ocultas */
}

.fade.active {
    opacity: 1; /* La imagen activa será visible */
}
